<mat-progress-bar style="position: absolute; top: 0; z-index: 4" #progressBar *ngIf="progressBarVisible" 
color="accent" mode="indeterminate"></mat-progress-bar>

<mat-toolbar class="mat-tab-nav-bar" color="primary">
  <mat-toolbar-row>
    <div fxFlex fxLayoutAlign="space-between">
      <div fxLayoutAlign="center center" routerLink='video'>
        <mat-icon>slideshow</mat-icon> 
        Fictícia Vídeos
      </div>
      <span>
        <button mat-icon-button matTooltip="Pesquisar">
          <mat-icon>search</mat-icon>
        </button>
      
        <button mat-icon-button [matMenuTriggerFor]="theme" matTooltip="Temas"><mat-icon>format_color_fill</mat-icon></button>
        <mat-menu #theme="matMenu" xPosition="before" yPosition="below">
          <button mat-menu-item *ngFor="let theme of themeList" (click)="selectTheme(theme.value)">{{theme.label}}</button>
        </mat-menu>

        <button mat-icon-button matTooltip="Menu" [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]='menu.link' *ngFor="let menu of menus">
            <mat-icon>{{ menu.icon }}</mat-icon> 
            {{menu.name}}
          </button>
        </mat-menu>
      
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<div fxFlex class="main-content" id="main-content" ngClass.gt-md="top" ngClass.lt-lg="bottom">
  <router-outlet (activate)='onActivate($event)'></router-outlet>
</div>
