<mat-progress-bar style="position: absolute; top: 0; z-index: 4" #progressBar *ngIf="progressBarVisible" 
color="accent" mode="indeterminate"></mat-progress-bar>

<div class="container mat-typography" [class.is-mobile]="mobileQuery.matches">
<mat-toolbar class="mat-tab-nav-bar" color="primary">
  <mat-toolbar-row>
    <div fxFlex fxLayoutAlign="space-between">
      
      <div fxLayoutAlign="center center" (click)="sidenav.toggle()">
        <button mat-icon-button matTooltip="Menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-icon>slideshow</mat-icon> 
        Fictícia Vídeos
      </div>
      <div>
        <mat-form-field *ngIf="showSearch" floatLabel="never">
          <input matInput type="text" #q placeholder="Pesquisar" (keyup.enter)="submitSearch(q.value)">
        </mat-form-field>
        <button mat-icon-button matTooltip="Pesquisar" (click)="toggleSearch()">
          <mat-icon>search</mat-icon>
        </button>
      
        <button mat-icon-button [matMenuTriggerFor]="theme" matTooltip="Temas"><mat-icon>format_color_fill</mat-icon></button>
        <mat-menu #theme="matMenu" xPosition="before" yPosition="below">
          <button mat-menu-item *ngFor="let theme of themeList" (click)="selectTheme(theme.value)">{{theme.label}}</button>
        </mat-menu>
      
      </div>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

  <!-- SIDENAV START -->
  <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" ngClass.gt-md="transparent">
          <div fxHide.gt-md="true" fxLayout="column" class="padding" style="background:rgba(0,0,0,0.5); color: white">
          <div fxLayout="row" fxLayoutAlign="center center" style="width:45px; height: 45px; border-radius: 100%; padding: 10px; background:darkslategray; border: 2px solid white; margin-bottom: 10px">U</div>
          <div>Nome do usuário</div>
          <div>emaildousuario@email.com.br</div>
        </div>
        <mat-nav-list>
          <mat-list>
            <mat-list-item *ngFor="let menu of menus" class="button-menu" (click)="closeSideNav()" routerLink='{{menu.link}}'>
              <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
              <h4 mat-line>{{menu.name}}</h4>
            </mat-list-item>
            
            <mat-divider></mat-divider>

            <mat-list-item *ngFor="let channel of channelList" class="button-menu" (click)="changeFeaturedChannel(channel)">
              <div fxLayoutAlign="center center" fxLayoutGap="10px">
                  <div>
                    <img [src]="channel.snippet.thumbnails.medium.url" style="height: 30px; width: 32px; border-radius: 100%;"  />
                  </div>
                  <div mat-line> {{channel.snippet.title}} </div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-nav-list>
      </mat-sidenav>
  
      <!-- CONTENT START -->
      <mat-sidenav-content>
        <!-- LAYOUT START -->
        <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
          <div fxLayout="column" [fxFlex]="sidenav.opened?95:80" fxFlex.lt-md="100" fxLayoutGap="25px">
            <router-outlet (activate)='onActivate($event)'></router-outlet>
          </div>
        </div>
        <!-- LAYOUT END -->
      </mat-sidenav-content>
      <!-- CONTENT END -->
      
    </mat-sidenav-container>
    <!-- SIDENAV END -->

</div>
