/* Add application styles & imports to this file! */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
/*@import "~@angular/material/prebuilt-themes/purple-green.css";*/


/* COMMON -------------------------------------------- */
body {
  margin:         0;
  overflow:       hidden;
}

* {
  font-family:    'Roboto', sans-serif;
}

p {    
  line-height:    25px;
}

.margin {
  margin:         10px !important;
}

.padding {
  padding:        10px !important;
}

.transparent {
  background:     transparent !important;
}

.full-width {
  min-width:      100%;
  max-width:      100%;
}


.mat-drawer-inner-container {  
  overflow:         hidden !important;
}

.mat-drawer-inner-container:hover {  
  overflow-y:         auto !important;
}