@import '~@angular/material/theming';

@include mat-core();
.light-theme {
  @import './themes/light-theme.scss';
  @include angular-material-theme($light-theme);
}
.dark-theme {
  @import './themes/dark-theme.scss';
  @include angular-material-theme($dark-theme);
}

.full-width {
  width:          100%;
}

.p-h1 {
  font-size:      28px;
}

.p-h2 {
  font-size:      20px;
}

.p-h3 {
  font-size:      14px;
}

.right-videos {
  max-height:     650px; 
  overflow:       auto;
}